<aside id="sidebar" th:fragment="aside">
	<div class="sidebar" data-background-color="dark">
		<div class="sidebar-logo">
			<div class="logo-header" data-background-color="dark">
				<a href="../index.html" class="logo"> <img
					src="../assets/img/kaiadmin/logo_light.svg" alt="navbar brand"
					class="navbar-brand" height="20" />
				</a>
				<div class="nav-toggle">
					<button class="btn btn-toggle toggle-sidebar">
						<i class="gg-menu-right"></i>
					</button>
					<button class="btn btn-toggle sidenav-toggler">
						<i class="gg-menu-left"></i>
					</button>
				</div>
				<button class="topbar-toggler more">
					<i class="gg-more-vertical-alt"></i>
				</button>
			</div>
		</div>
		<div class="sidebar-wrapper scrollbar scrollbar-inner">
			<div class="sidebar-content">
				<ul class="nav nav-secondary">
					<li class="nav-item"><a data-bs-toggle="collapse"
						href="#daoTaoMenu" role="button" aria-expanded="false"
						aria-controls="daoTaoMenu"> <i class="fas fa-home"></i>
							<p>Chương trình đào tạo</p> <span class="caret"></span>
					</a>
						<div class="collapse" id="daoTaoMenu">
							<ul class="nav nav-collapse">
								<li><a href="../chuong-trinh-dao-tao.html"> <span
										class="sub-item">Danh sách chương trình</span>
								</a></li>
								<li><a href="../quan-ly-chuong-trinh.html"> <span
										class="sub-item">Quản lý chương trình đào tạo</span>
								</a></li>
							</ul>
						</div></li>
					<li class="nav-item"><a href="../co-cau-to-chuc.html"
						data-bs-toggle="collapse" data-bs-target="#orgMenu"
						aria-expanded="false" aria-controls="orgMenu"> <i
							class="fas fa-sitemap"></i>
							<p>Cơ cấu tổ chức</p> <span class="caret"></span>
					</a>
						<div class="collapse" id="orgMenu">
							<ul class="nav nav-collapse">
								<li><a th:href="@{/admin/organization/index}"><span
										class="sub-item">Tree view</span></a></li>
								<li><a th:href="@{/admin/school/index}"><span
										class="sub-item">Danh sách Trường</span></a></li>
								<li><a th:href="@{/admin/faculty/index}"><span
										class="sub-item">Danh sách Khoa</span></a></li>
								<li><a th:href="@{/admin/major/index}"><span
										class="sub-item">Danh sách Ngành</span></a></li>
							</ul>
						</div></li>
					<li class="nav-item"><a data-bs-toggle="collapse"
						href="#giangVienMenu" role="button" aria-expanded="false"
						aria-controls="giangVienMenu"> <i
							class="fas fa-chalkboard-teacher"></i>
							<p>Giảng viên</p> <span class="caret"></span>
					</a>
						<div class="collapse" id="giangVienMenu">
							<ul class="nav nav-collapse">
								<li><a th:href="@{/admin/lecturer/index}"> <span
										class="sub-item">Danh sách giảng viên</span>
								</a></li>
								<li><a href="../quan-ly-giang-vien.html"> <span
										class="sub-item">Quản lý giảng viên</span>
								</a></li>
							</ul>
						</div></li>
					<li class="nav-item"><a href="../tim-kiem.html"> <i
							class="fas fa-search"></i>
							<p>Tìm kiếm</p>
					</a></li>
					<li class="nav-item"><a href="../bao-cao.html"> <i
							class="fas fa-file-alt"></i>
							<p>Báo cáo</p>
					</a></li>
				</ul>
			</div>
		</div>
	</div>
</aside>
